<div class="row">
<div class="pb-1">
  <h1>Places</h1>
</div>
<ul>
<p>
  <a class= "btn btn-primary" href="/places/new">New place</a>
</p>

  <% for place in @places %>
    <div class="pb-1">
    <h4><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></h4>
    </div>
  <% end %>
</ul>



</div>