<div class="row">
<h1>Places</h1>

<ul>
<p>
  <a class= "btn btn-primary" href="/places/new">New place</a>
</p>

  <% for place in @places %>
    <h4><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></h4>
  <% end %>
  </div>
</ul>



</div>