<h4>New Place</h4>

<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "name" %>
    <%= form.text_field "name" %>
  </p>
  <p>
    <%= form.submit "Submit", :class => "btn btn-primary" %>
  </p>
<% end %>